@model HotelPuraVida.Models.HotelModels

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:80px">Hoteles</h2>

<div>
    <h4>Detalle de @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HotelID }, new {@class="btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-info" })
</p>
