@model HotelPuraVida.ModelView.OrderReservationViewModels
@{
    ViewBag.Title = "NewReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Reservation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @* Codigo para DropDownList *@
        @*<div class="form-group">
            @Html.LabelFor(model => model.UserViewModels.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserViewModels.UserID, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @Html.ActionLink("Add Reservation", "AddReservation", new { }, new { @class = "btn btn-primary"})
         <input type="submit" value="Save Reservation" id="NewReservation" class="btn btn-success" />
            </div>
        
}
<h2>Detalle de la Reservación</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.HotelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.People)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.CostPerNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.Value)
        </th>
        
        <th></th>
    </tr>

  @for (int i = 0; i < Model.RoomOrder.Count; i++)
  {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.RoomOrder[i].HotelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.RoomOrder[i].RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.RoomOrder[i].RoomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.RoomOrder[i].People)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.RoomOrder[i].CostPerNight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.RoomOrder[i].Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.RoomOrder[i].RoomID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.RoomOrder[i].RoomID}, new { @class = "btn btn-danger" })
        </td>
    </tr>
  }

</table>
  