@model HotelPuraVida.Models.ReservationModel

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-top:80px">Reservaciones</h2>

<div>
    <h4>Eliminar reservación #@Model.ReservationID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.People)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.People)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <p>¿Está seguro que desea eliminar esta entrada?</p>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
