@model IEnumerable<HotelPuraVida.Models.RoomModel>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top:80px">Cuartos</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelModels.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPerNight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HotelModels.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPerNight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.RoomID }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
